* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-div {
  padding: 10px;
  text-align: center;
  margin: 50px auto;
}

.header-div > h1 {
  font-size: 42px;
  color: #e53170;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.main-sec {
  padding: 10px;
  margin-bottom: 30px;
}

#main-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 2px #e53170 solid;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: black;
}

.card-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.card-info {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    black 0%,
    #2a0012 25%,
    #e53170 50%,
    #2a0012 75%,
    black 100%
  );
  background-size: 300% 300%;
  animation: gradientMove 12s linear infinite;
}

.card-info > a {
  display: block;
}

#form-input {
  margin-top: 40px;
}

#btn {
  width: 30%;
  margin: 0 auto 0 0;
  border-radius: 8px;
  padding: 5px;
}

.field {
  margin-top: 40px;
  padding: 10px;
  border-color: #e53170;
  color: #e53170;
  border-radius: 12px;
}

#form-input {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.infos {
  width: calc(100% / 2 - (20px * 1 / 2));
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infos > input {
  border-radius: 8px;
  padding: 5px;
}

.infos > input:focus {
  outline: none;
  border: 2px #e53170 solid;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(100% / 2 - (20px * 1 / 2));
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: calc(100% / 3 - (20px * 2 / 3));
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 100% 60%;
  }
}
