* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header-div {
  padding: 10px;
  text-align: center;
  margin: 50px auto;
}

.header-div > h1 {
  font-size: 42px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
